# Gradle
.gradle/
.gradle-home/
gradle-local.properties
build/
**/build/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Runtime
run/
logs/
builtJars/.DS_Store
builtJars/**/.DS_Store

# Misc
out/
.claude/
CLAUDE.md
