# Gradle
.gradle/
.gradle-home/
gradle-local.properties
build/
**/build/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Runtime
run/
logs/
builtJars/*
builtJars/.DS_Store
!builtJars/1.0.0/
!builtJars/1.0.0/**
!builtJars/1.1.0/
!builtJars/1.1.0/**
!builtJars/1.1.1/
!builtJars/1.1.1/**
!builtJars/1.1.2/
!builtJars/1.1.2/**
builtJars/**/.DS_Store

# Misc
out/
.claude/
CLAUDE.md
